
<title>Search</title>
        	 	<link rel="stylesheet" media="screen" href="static/bootstrap.min.css">
       <meta name="viewport" content="width=device-width, initial-scale=1.0">
<div class="container">
<h2>Search version:</h2>
<form>
 <button type="submit" formaction="./search" class="btn btn-primary" name = "search" value = "search">Search </button>
 <button type="submit" formaction="./search_normalized" class="btn btn-primary" >Search normalized</button>
 <button type="submit" formaction="./search_svd" class="btn btn-primary" >Search SVD</button>
</form>
</div>
