
<title>Search</title>
        	 	<link rel="stylesheet" media="screen" href="static/bootstrap.min.css">
       <meta name="viewport" content="width=device-width, initial-scale=1.0">
<div class="container">
<h2>Search version:</h2>
<form>
 <button type="submit" formaction="./search_no_idf" class="btn btn-primary" >Search No IDF</button>
 <button type="submit" formaction="./search_raw" class="btn btn-primary" >Search Raw</button>
 <button type="submit" formaction="./search_svd" class="btn btn-primary" >Search SVD</button>
</form>
</div>
